<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Scripts -->
    <script src="/js/commentsSection.js" defer></script>
    <script src="/js/retrieveScroll.js" defer></script>
    <!-- Favicon -->
    <%- include("../components/favicon") %>
    <!-- Title -->
    <title><%= locals.blog.title %> - Bloggy</title>
</head>

<body>
    <%- include("../components/header", {user: locals.user}) %>
        <main>
            <div class="container">
                <!-- Blog Content Section -->
                <section class="py-4 space-y-2">
                    <div class="space-y-0.5">
                        <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl xl:text-5xl"><%= locals.blog.title %></h1>
                        <div class="text-xs md:text-sm lg:text-base xl:text-lg text-grey-heavy"><%= locals.blog.date %></div>
                        <hr class="separator">
                    </div>
                    <p class="text-sm sm:text-base/loose md:text-lg/loose xl:text-xl/loose"><%= locals.blog.body %></p>
                </section>
                <!-- Comments Section -->
                <section class="py-2 space-y-2 md:space-y-4 lg:space-y-6 xl:space-y-8">
                    <div class="space-y-1">
                        <h2 class="text-xl font-bold sm:text-2xl md:text-3xl xl:text-4xl">Comments</h2>
                        <hr class="separator">
                    </div>
                    <!-- User comment -->
                    <% if (locals.user) { %>
                    <form action="<%= `/blogs/${locals.blog.uri}/comments` %>" method="post" class="flex flex-wrap gap-2">
                        <div class="flex gap-2 w-full">
                            <img src="<%= locals.user.img %>" alt="<%= locals.user.name %> image"
                                class="w-10 h-10 rounded-full md:w-12 md:h-12 lg:w-14 lg:h-14 xl:w-16 xl:h-16">
                            <div class="w-full rounded-lg border border-primary">
                                <textarea name="comment" placeholder="Enter Your Comment"
                                class="px-3 py-2 w-full text-sm rounded-t-lg resize-none min-h-20 md:text-base lg:text-lg placeholder:text-gray-600 focus:outline-none"></textarea>
                                <div class="w-full text-right">
                                    <input type="submit" value="Comment" class="px-2 py-1 text-sm text-white rounded-md duration-500 cursor-pointer md:px-3 xl:px-4 lg:text-base xl:text-lg bg-primary hover:bg-secondary">
                                </div>
                            </div>
                        </div>
                    </form>
                    <% } else { %>
                        <div class="text-center md:text-xl xl:text-2xl"><a href="/login" class="text-primary hover:text-secondary">Log in</a> to comment</div>
                    <% } %>
                    <!-- Others Comments Section-->
                    <section id="commentsSection" class="px-4 py-2 space-y-4 rounded-md lg:py-4 lg:px-8">
                        <% if (!locals.blog.comments || locals.blog.comments.length == 0) {%>
                            <div class="py-2 w-full text-center rounded border md:text-lg xl:text-xl border-primary">Be the first commenter!</div>
                        <% } else { %>
                            <% locals.blog.comments.forEach((comment, index) => { %>
                                <!-- Comment -->
                                <div class="flex flex-col gap-2 px-6 py-4 rounded-lg border border-primary">
                                    <!-- Comment Author -->
                                    <div class="flex gap-2 items-center">
                                        <img src="<%= comment.author.img %>" alt="<%= comment.author.name %> image"
                                            class="w-8 h-8 rounded-full border md:w-10 md:h-10 lg:w-12 lg:h-12 xl:w-14 xl:h-14">
                                        <div>
                                            <div class="font-bold md:text-lg xl:text-xl 2xl:text-2xl"><%= comment.author.name %></div>
                                            <!-- #TODO: implement comment relative date -->
                                            <div class="-mt-1 text-xs sm:text-sm text-stone-500"><%= comment.date %><%= comment.isEdited? "• edited" : "" %></div>
                                        </div>
                                    </div>
                                    <!-- Comment Body -->
                                    <div class="text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl">
                                        <p id="commentBody<%= index %>" class="break-words text-slate-800"><%= comment.body %></p>
                                        <div class="flex justify-between">
                                            <% if (locals.user) { %>
                                            <div class="flex gap-1 md:gap-2 xl:gap-4 text-primary">
                                                <form action="<%= `/blogs/${locals.blog.uri}/comments/${index}/like` %>" method="post">
                                                    <% const liked = comment.likes.includes(locals.user._id); %>
                                                    <button type="submit" class="<%= liked? "text-secondary" : "" %> hover:text-secondary duration-500 rounded"><%= liked? "Liked" : "Like" %></button>
                                                </form>
                                                <% const isAuthor = locals.user.name === comment.author.name; %>
                                                <% if (isAuthor) { %>
                                                <button id="editBtn<%= index %>" class="rounded duration-500 hover:text-secondary">Edit</button>
                                                <form action="<%= `/blogs/${locals.blog.uri}/comments/${index}/edit` %>" method="post" class="hidden w-full rounded border border-primary focus:border-secondary">
                                                    <textarea name="comment" class="w-full text-black rounded resize-none min-h-20 focus:outline-none"><%= comment.body %></textarea>
                                                    <div class="space-x-1 w-full text-xs text-right text-white md:text-sm lg:text-base">
                                                        <button name="edit" type="submit" class="px-2 py-0.5 duration-500 bg-primary hover:bg-secondary">Edit</button>
                                                        <button name="cancel" type="button" class="px-2 py-0.5 duration-500 bg-primary hover:bg-secondary">Cancel</button>
                                                    </div>
                                                </form>
                                                <% } if (isAuthor || locals.user.isAdmin) { %>
                                                <form action="<%= `/blogs/${locals.blog.uri}/comments/${index}/delete` %>" method="post">
                                                    <button type="submit" class="rounded duration-500 hover:text-secondary">Delete</button>
                                                </form>
                                                <% } %>
                                            </div>
                                            <% } %>
                                            <div class="w-full text-right text-stone-500"><%= comment.likes.length %> Likes</div>
                                        </div>
                                    </div>
                                </div>                             
                            <% });} %>
                    </section>
                </section>
            </div>
        </main>
        <%- include("../components/footer") %>
</body>
</html>