<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon -->
    <%- include("../components/favicon") %>
    <!-- Title -->
    <title><%= locals.blog? `Editing: ${ locals.blog.title }` : "New Blog" %> - Bloggy</title>
</head>

<body>
    <%- include("../components/header", {user: locals.user}) %>
        <main>
            <div class="container">
                <!-- Edit Blog Section -->
                <section class="py-4 space-y-2">
                    <div class="space-y-0.5 lg:space-y-2">
                        <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl xl:text-5xl">
                            <%= locals.blog? "Edit" : "New" %> Blog
                        </h1>
                        <hr class="separator">
                    </div>
                    <form action="" method="post" class="space-y-4 md:text-lg/loose xl:text-xl/loose 2xl:text-2xl/loose">
                        <div class="flex flex-col">
                            <label for="title" class="font-bold">Title</label>
                            <input type="text" name="title" id="title" placeholder="Blog Title" value="<%= locals.blog? locals.blog.title : "" %>" class="px-4 py-2 rounded border outline-none lg:border-2 border-primary focus:border-secondary placeholder:text-gray-600">
                        </div>
                        <div class="flex flex-col">
                            <label for="body" class="font-bold">Content</label>
                            <textarea name="body" id="body" placeholder="Blog Content" class="min-h-[50vh] outline-none resize-none px-4 py-2 rounded border lg:border-2 border-primary focus:border-secondary placeholder:text-gray-600"><%= locals.blog? locals.blog.body : "" %></textarea>
                        </div>
                        <div class="flex flex-col">
                            <label for="summary" class="font-bold">Summary</label>
                            <textarea name="summary" id="summary" placeholder="Blog Summary" class="min-h-[25vh] outline-none resize-none px-4 py-2 rounded border lg:border-2 border-primary focus:border-secondary placeholder:text-gray-600"><%= locals.blog? locals.blog.summary : "" %></textarea>
                        </div>
                        <div class="space-x-4 text-right sm:space-x-6">
                            <input type="submit" value="Publish" class="px-4 py-2 text-white rounded duration-500 cursor-pointer md:px-5 lg:px-6 xl:px-8 2xl:px-10 bg-primary hover:bg-secondary">
                            <input type="reset" value="Reset" class="px-4 py-2 text-white rounded duration-500 cursor-pointer md:px-5 lg:px-6 xl:px-8 2xl:px-10 bg-primary hover:bg-secondary">
                            <button type="button" id="discardBtn"><a href="/blogs" class="block px-4 py-2 text-white bg-red-700 rounded duration-500 cursor-pointer md:px-5 lg:px-6 xl:px-8 2xl:px-10 hover:bg-red-950">Discard</a></button>
                        </div>
                    </form>
                </section>
            </div>
        </main>
        <%- include("../components/footer") %>
</body>

</html>